@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

body {
	background: #FFFFFF;
	color: white;
overflow: hidden;
}
#fondo {
width: 100vw;
left:0;
bottom:0;
object-fit: cover;
z-index: -1;
position: relative;
}

/* --------------------------Header del sitio---------------------------- */
header {
	background-color: #C6C6C6;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 150px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 50px 60px 0 60px;
	z-index: 2;
}

nav li {
	list-style: none;
	padding-right: 10;
	padding-left: 10;
	display: inline-block;
}

nav li span {
	padding-left: 5px;
}

#logo {
	width: 40%;
}

nav li a {
	padding: 20px;
	background-color: #9B9B9B;
	text-decoration: none;
	border-radius: 30px;
	font-size:25px;
	color: white;
}

nav li:hover {
	transform: scale(1.1);
	transition: 100ms;
}

.cart ion-icon {
	vertical-align: bottom;
	font-size: 20px;
	padding-right: 5px;
}

.cart a {
	background-color: royalblue;
	color: #fff;
	cursor: pointer;
	text-decoration: none;

}